.imported-gbxs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 292px;
}

    .imported-gbxs .gbx-list {
        display: grid;
        grid-auto-rows: min-content;
        grid-gap: 4px;
        padding: 4px;
        flex: 1;
        background: #0004;
        border-radius: 3px;
        overflow: auto;
    }

        .imported-gbxs .gbx-list > div {
            background: #3333;
            border-radius: 3px;
            white-space: nowrap;
            overflow: hidden;
            padding: 2px 8px;
            cursor: pointer;
        }

            .imported-gbxs .gbx-list > div:hover {
                background: var(--button-blue);
            }

            .imported-gbxs .gbx-list > div.selected {
                background: var(--button-blue);
            }

.button-util {
    font-size: 0.8rem;
}

.proceed-general {
    font-weight: bold;
    font-size: 1.5rem;
}

    .proceed-general:enabled, a.proceed-general {
        background: linear-gradient(90deg, var(--button-darkgreen-edge) 0%, var(--button-darkgreen) 2%, var(--button-darkgreen) 98%, var(--button-darkgreen-edge) 100%) !important;
    }

    .proceed-general:disabled {
        color: gray;
        cursor: not-allowed;
    }

    .proceed-general:hover:enabled, a.proceed-general:hover {
        background: linear-gradient(90deg, var(--button-green-edge) 0%, var(--button-green) 2%, var(--button-green) 98%, var(--button-green-edge) 100%) !important;
        cursor: pointer;
    }