@using System.Web;

@inject NavigationManager NavMgr

<a href="/login?redirectUri=@redirectUri" class="button menu-button">Login</a>

@code {
    private string? redirectUri;

    protected override void OnInitialized()
    {
        redirectUri = HttpUtility.UrlEncode(NavMgr.Uri);

        NavMgr.LocationChanged += (sender, args) =>
        {
            redirectUri = HttpUtility.UrlEncode(NavMgr.Uri);
            StateHasChanged();
        };
    }
}
