@using GBX.NET;

@inherits PropertyValueDisplay
@attribute [AppliesForType(typeof(bool))]

<select @bind="Value" id="config-@Property.Name" style="width: 163px">
    <option value="False">False</option>
    <option value="True">True</option>
</select>

@code {

    public string Value
    {
        get => ((bool)GetValue()!) ? "True" : "False";
        set => SetValue(bool.Parse(value ?? "False"));
    }
}
