@using GBX.NET;
@using System.Globalization;

@inherits PropertyValueDisplay
@attribute [AppliesForType(typeof(CultureInfo))]

@{
    var val = (CultureInfo)GetValue()!;
}

<select @bind="Value" id="config-@Property.Name" style="width: 163px">
    @foreach (var culture in CultureInfo.GetCultures(CultureTypes.AllCultures))
    {
        <option value="@culture.Name" selected="@culture.Equals(val)">@culture.DisplayName</option>
    }
</select>

@code {
    public string Value
    {
        get => ((CultureInfo)GetValue()!).Name;
        set => SetValue(new CultureInfo(value));
    }
}
