@using GBX.NET;

@inherits PropertyValueDisplay
@attribute [AppliesForType(typeof(Vec2))]

<div>
    <input type="text" id="config-@Property.Name" class="input-text" @bind="ValueX" style="width: 64px" />
    <input type="text" class="input-text" @bind="ValueY" style="width: 64px" />
</div>

@code {
    public float ValueX
    {
        get => ((Vec2)GetValue()!).X;
        set => SetValue(((Vec2)GetValue()!) with { X = value });
    }
    
    public float ValueY
    {
        get => ((Vec2)GetValue()!).Y;
        set => SetValue(((Vec2)GetValue()!) with { Y = value });
    }
}
